* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  height: 100%;
}

.menu {
  background-color: hotpink;
  width: 800px;
  height: 60%;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

img {
  height: 25%;
  border-radius: 12px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.submenus > ul {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.submenus {
  height: 10%;
  padding: 2%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.no-show {
  display: none;
  height: 70%;
  width: 70%;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#breakfast {
  background-color: yellow;
}

#lunch {
  background-color: skyblue;
}

#dinner {
  background-color: lawngreen;
}

#dessert {
  background-color: red;
}
